/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css";
/*@import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";

/// mis estilos personalizados Fer
@font-face {
  font-family: "Spotify-Bold";
  src: url("./assets/fonts/CircularSpotifyText-Bold.otf");
}
@font-face {
  font-family: "Spotify-Light";
  src: url("./assets/fonts/CircularSpotifyText-Light.otf");
}
@font-face {
  font-family: "Spotify-Medium";
  src: url("./assets/fonts/CircularSpotifyText-Medium.otf");
}
#map {
  height: 100vh;
}
h1 {
  font-family: "Spotify-Bold";
  font-size: 30px;
}
h2 {
  font-family: "Spotify-Bold";
  font-size: 24px;
}
h2 {
  font-family: "Spotify-Medium";
  font-size: 20px;
}
p,
a,
b,
strong,
li,
ul,
span,
div {
  font-family: "Spotify-Light";
  font-size: 16px;
}
a {
  text-decoration: none;
}
* {
  color: var(--ion-color-light);
}

@import "./theme/variables.scss";
@import "./theme/components.scss";

:root {
  --ion-font-family: "Spotify-Light";
  --ion-background-color: var(--ion-color-tertiary);
  --ion-background-color-rgb: var(--ion-color-tertiary);
  --ion-text-color: var(--ion-color-light);
  --ion-text-color-rgb: var(--ion-color-light);
  --border-radius: 0;
}
ion-button {
  --border-radius: 40px;
  font-family: "Spotify-bold";
}
