<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home {{isActionSheetOpen}}
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let ciudad of ciudades" [href]="'/ciudad/'+ciudad.id">
          <ion-text>
            <h2>Ciudad: {{ciudad.name}}</h2>
          </ion-text>
          <ion-icon slot="end" name="chevron-forward-circle"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <img src="../../assets/images/avatar.jpg" alt="">
    <ion-row>
      <ion-col>
        <swiper-container slides-per-view="1.2" pagination="false" navigation="false" autoplay="true"
          style="height: 300px;">
          <swiper-slide>
            <img style="padding: 10px;" src="../../assets/images/slide1.jpg" alt="">
          </swiper-slide>
          <swiper-slide>
            <img style="padding: 10px;" src="../../assets/images/slide2.jpg" alt="">
          </swiper-slide>
          <swiper-slide>
            <img style="padding: 10px;" src="../../assets/images/slide3.jpg" alt="">
          </swiper-slide>
          <swiper-slide>
            <img style="padding: 10px;" src="../../assets/images/slide1.jpg" alt="">
          </swiper-slide>
        </swiper-container>


      </ion-col>
    </ion-row>
  </ion-grid>

  <!--   <ion-button (click)="this.loadCities()">Cargar ciudades</ion-button> -->

  <!--

  <ion-button id="open-action-sheet">Open</ion-button>
  <ion-action-sheet mode="ios" (didDismiss)="setOpen(false)" (didPresent)="setOpen(true)" [isOpen]="isActionSheetOpen"
    trigger="open-action-sheet" header="Opciones disponibles" [buttons]="actionSheetButtons"></ion-action-sheet>

  <ion-button id="open-modal" expand="block">Open</ion-button>
  <p>{{ message }}</p>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Enter your name" labelPlacement="stacked" type="text" placeholder="Your name"
            [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
 -->

  <!-- <ion-grid>
    <ion-row>

      <ion-col size-xs="12" size="6">
        <h1>1</h1>
      </ion-col>

      <ion-col size-xs="12" size="6">
        <h1>2</h1>
      </ion-col>


      <ion-col size="12">
        <h1>1</h1>
      </ion-col>
      <ion-col>
        <h1>Columna 1</h1>
      </ion-col>
      <ion-col>
        <h1>Columna 2</h1>
      </ion-col>
      <ion-col>
        <h1>Columna 3</h1>
      </ion-col>
      <ion-col size="12">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum veniam quasi deleniti ullam similique iusto
          iure quam dolorem in illum molestias dolorum sint odit iste quo accusantium, ipsum, adipisci doloremque?</p>
      </ion-col>
      <ion-col size="12">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum veniam quasi deleniti ullam similique iusto
          iure quam dolorem in illum molestias dolorum sint odit iste quo accusantium, ipsum, adipisci doloremque?</p>
      </ion-col>
      <ion-col size="12">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum veniam quasi deleniti ullam similique iusto
          iure quam dolorem in illum molestias dolorum sint odit iste quo accusantium, ipsum, adipisci doloremque?</p>
      </ion-col>
    </ion-row>
  </ion-grid>
 -->
  <!--
  <ion-fab color="secondary" slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button color="secondary">
      <ion-icon style="--color: black" name="chevron-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
  <!--
  <ion-list>
    <ion-item>
      <ion-icon slot="end" name="person"></ion-icon>
      <ion-icon slot="start" name="star"></ion-icon>
      <ion-icon slot="start" name="share"></ion-icon>
      <ion-label>Pokémon Yellow</ion-label>
      <ion-chip>
        <ion-icon style="margin-right: 20px;" name="close-circle-outline"></ion-icon>
        Filtro
      </ion-chip>
      <ion-badge color="warning" slot="start">
        100
      </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>
  <ion-button color="turquesa" fill="clear" type="submit">Clear</ion-button>
  <ion-button color="turquesa" fill="outline" href="/home">Outline</ion-button>
  <ion-button color="turquesa" fill="solid" routerLink="/home">Solid</ion-button>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card> -->
</ion-content>

<app-menu></app-menu>
